<section id="rails">
  <div class="page-header">
  	<h2>RAILS</h2>	
	</div>
</section>

<section>
	<%= render 'rails/staticpagescontroller' %>
	<%= render 'rails/userscontroller' %>
	<%= render 'rails/usermodel' %>
	<%= render 'rails/sessionscontroller' %>
	<%= render 'rails/micropostmodel' %>
	<%= render 'rails/relationshipmodel' %>
</section>