<% provide(:title, "Einstellungen") %> 

<header class="jumbotron_subhead" id="overview">
  <div class="container">
    <h1>Ändere deine Einstellungen</h1>
  </div>
</header>

<div class="container textarea">
  <div class="row">
    <div class="span6 offset3">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password, "Passwort" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Passwort-Wiederholung" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "speichern!", class: "btn btn-large btn-primary" %>
      <% end %>

      <%= gravatar_for(@user) %>
      <a href="http://gravatar.com/emails">change</a>
    </div>
  </div>
</div>