<% provide(:title, 'Vorlesung erstellen') %>

<header class="jumbotron_subhead" id="overview">
  <div class="container">
    <h1>Vorlesung erstellen</h1>
  </div>
</header>

<div class="container textarea">
  <div class="row">
    <div class="span4 offset4">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :vorlesung, "Vorlesung: true" %>
        <%= f.text_field :vorlesung, value: true %>

        <%= f.label :customer, "Customer: false" %>
        <%= f.text_field :customer, value: false %>

        <%= f.label :at_uni, "An welcher Uni?" %>
        <%= f.text_field :at_uni %>

        <%= f.label :at_semester, "In welchem Semester?" %>
        <%= f.text_field :at_semester %>

        <%= f.label :ects, "Wieviele ECTS-Punkte?" %>
        <%= f.text_field :ects %>

        <%= f.label :password, "Passwort" %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "PW-Wiederholung" %>
        <%= f.password_field :password_confirmation %>

        <%= f.submit "Vorlesung erstellen", class: "btn btn-large btn-inverse buttonmargin" %>

      <% end %>
    </div>
  </div>
</div>