<footer class="footer">
  <div class="container">
    <small>
      <a href="http://seliegdesign.herokuapp.com/"></a>
      copyright UN!PHOBIA 2012
    </small>
    <nav>
      <ul class="footer-rechts">
        <li><%= link_to "Über uns",   about_path %></li>
        <li><%= link_to "Kontakt", contact_path %></li>
        <li><%= link_to "Datenschutz", datenschutz_path %></li>
        <li><%= link_to "Cookies", cookies_path %></li>
        <li><%= link_to "Impressum/Nutzungsbedingungen", impressum_path %></li>
      </ul>
    </nav>
  </div>
</footer>